<header>
    <nav class="<%= typeof simplified == 'undefined' ? '' : 'simplified' %>">
        <a tabIndex="1" href="<%= typeof simplified=='undefined' ? '/a-propos' : '/' %>" id="header-logo"
            onclick="return linkClicked(this.href, this.target);" aria-label="Qui sommes-nous ?">
            <img src="/assets/LOGO I BARRICADE BLANC.svg" alt="Le logo de la Barricade" style="width: 2rem;" /><span>La
                Barricade</span>
        </a>
        <% if (typeof simplified=='undefined' ) { %>
            <label for="search-bar" id="search-bar-label">
                <img src="/assets/icons/mag.svg" width="30px">
            </label>
            <input tabIndex="2" id="search-bar" oninput="return searchTyping(this.value)" aria-label="Taper un mot-clé pour filtrer les résultats" />
            <img id="search-cross" src="/assets/icons/xmark.svg" class="icon-img" onclick="return resetSearch()" />
            <b id="time">00:00:00</b>
            <% } %>
    </nav>
</header>

<style>
    header {
        top: 0;
        color: var(--color-blanc);
        height: 4rem;
        display: flex;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    nav {
        padding-inline: 10px;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        box-sizing: border-box;
    }

    nav.simplified {
        background-color: var(--color-violet);
        box-shadow: 0 0.2rem 0.2rem var(--color-noir);
    }


    #search-bar-label {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;
        filter: invert(100%);
        transition: filter 500ms, background-color 500ms;
        border-radius: 100px;
    }

    #search-bar-label:hover {
        filter: invert(0);
        background-color: var(--color-blanc);
    }

    #search-bar {
        height: 2rem;
        font-family: Grotesk;
        padding: 0;
        border: none;
        flex: 1;
        max-width: 0;
        display: flex;
        align-items: center;
        appearance: none;
        color: var(--color-noir);
        outline: none;
        background-color: transparent;
        transition: background-color 500ms, max-width 500ms, backround-color 500ms;
    }

    #search-bar:focus,
    #search-bar.has-content {
        padding: 2px;
        max-width: 100%;
        outline: none;
        appearance: none;
        margin: 0;
        background-color: var(--color-blanc);
    }

    #search-cross {
        filter: invert(0);
        margin-left: -2rem;
        width: 2rem;
        display: none;
        cursor: pointer;
    }

    #search-cross.has-content {
        display: flex;
    }

    #time {
        margin-left: 10px;
        display: none;
        user-select: none;
        margin-right: 20px;

        @media (width >=40rem) {
            display: block;
        }
    }

    #header-logo>span {
        display: none;

        @media (width >=40rem) {
            display: block;
        }
    }
</style>