<div id="load-page">
    <img src="/assets/LOGO I BARRICADE BLANC.svg" style="width: 200px;" />
</div>
<style>
    #load-page {
        animation: 0.2s ease-in 0s 1 slideIn;
        z-index: 2;
        position: absolute;
        inset: 0;
        background-color: var(--color-noir);
        display: none;
        align-items: center;
        justify-content: center;
    }
</style>