<style>
    .slide {
        display: none;

        @media (width >=40rem) {
            display: block;
            z-index: -1;
            filter: blur(15px);
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            opacity: 0;
            transition: opacity 2s, transform 10s;
        }
    }
</style>
<% posts.forEach((post,index)=> {%>
    <div id="<%= 'banner-' + post.id %>" class="slide" style="background-image: url(/banners/<%= post.id %>.png);">
    </div>
    <% }) %>
    <div class="slide" style="background-color: var(--color-noir); opacity: 0.5; filter: blur(0);"></div>
        <script type="module" crossorigin="" src="/slide.js"></script>